// Define variables for your color scheme

// For example:
$red: #FF6663;
$blue: #1B4965;
$yellow: #FDB631;
$orange: #E67E22;
$green: #8CD790;
$gray: #000000;
$light-blue: #BEE9E8;
$dark-blue: #2E4057;
$light-gray: #E1E1E1;
