<div class="banner" style="background-image: linear-gradient(-225deg, rgba(10,2,0,0.4) 0%, rgba(10,2,0,0.4) 100%), url(<%= image_path 'home-banner.jpeg'  %>);">
  <div class="banner-content">
    <h1>L Y N K</h1><br>
    <h2>Give experience</h2><br>
    <p><%= link_to "Enter", options_path, class: "button-banner" %></p>
  </div>
</div>



<div class="steps">
  <div class="step">
    1

  </div>
  <div class="step">
    2

  </div>
  <div class="step">
    3

  </div>
</div>
