<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 100%), url('https://www.bosscreative.agency/wp-content/uploads/2017/01/BOSS-CA-HomeBanner.jpg');">
  <div class="banner-content">
    <h1>Best agency in the world</h1><br>
    <%= link_to "Enter", options_path, class: "btn btn-primary button" %>
  </div>
</div>






