<div class="banner" style="background-image: linear-gradient(-225deg, rgba(10,2,0,0.4) 0%, rgba(10,2,0,0.4) 100%), url(<%= cl_image_path("home-banner2.jpg", crop: :fill) %>)">
  <div class="banner-content">
    <h1>L Y N K</h1>
    <h2>Find your next apprentice today</h2><br>
    <p><%= link_to "Enter", options_path, class: "button-banner" %></p>
  </div>
</div>

<div class="steps">
  <br>
  <h1 class="main-title">How does it work?</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="title">
          <h3>Verified, up-to-date job listings</h3>
        </div>
        <p class="message">Every day we list dozens of apprentices directly. We’re committed to accurate, high-quality apprenticeships so you won’t find old, duplicated, or spammy listings here.</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="title">
          <h3>Seamless</h3>
        </div>
        <p class="message">Organize and automate your job search while at home or on the go. We’ll deliver new, relevant jobs of interest straight to your inbox.</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="title">
          <h3>Apprentices and employers connect</h3>
        </div>
        <p class="message">We want apprentices and employers to connect directly. After you find the right apprentice, you’re both connected directly site. No fuss.</p>
      </div>
    </div>
  </div>
  <br><br><br><br><br>
</div>

