<div class="banner" style="background-image: linear-gradient(-225deg, rgba(10,2,0,0.4) 0%, rgba(10,2,0,0.4) 100%), url(<%= image_path 'home-banner2.jpeg'  %>);">
  <div class="banner-content">
    <h1>L Y N K</h1><br>
    <h2>Give experience</h2><br>
    <p><%= link_to "Sign in", options_path, class: "button-banner" %></p>
  </div>
</div>



<div class="steps">
  <br>
  <h1 class="text-center">How does it work?</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div>
          <h3>1. Sign up</h3>
        </div>
        <p><strong>L Y N K</strong> will help you find the perfect apprentice to work with.</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <div>
          <h3>2. Link up</h3>
        </div>
        <p>Browse through available apprentices within your area and with the same interests. <strong>L Y N K</strong> will link you up!</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <div>
          <h3>3. Repeat</h3>
        </div>
        <p>Enroll as many apprentices as you like at the same time, or plan them out for your future projects!</p>
      </div>
    </div>
  </div>
  <br><br><br><br><br>
</div>

