.card-and-map-container {
  margin: 30px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  height: 70vh;
}
.card-container {
  background-color: #F4F4F4;
  width: 50%;
}
.apprentice-card {
  width: 95%;
  height: 15vh;
  background-color: white;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  padding: 5px;
}
.map-container {
  width: 50%;
  height: 100%;
}
