.card-and-map-container {
  margin: 30px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  min-height: 70vh;
  background-color: $very-light-gray;
  border-radius: 3px;
}
.card-container {
  background-color: #F4F4F4;
  width: 50%;
  min-height: 100%;
  border-radius: 3px;
}
.apprentice-card {
  width: 95%;
  height: 15vh;
  background-color: white;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  padding: 15px;
  position: relative;
  min-width: 210px;
  min-height: 100px;
}
.map-container {
  width: 50%;
  height: auto;
}

.name-card {
  position: absolute;
  top: -5px;
}

.location-card {
  position: absolute;
  bottom: 0px;
}

.form-control {
  border-radius: 3px;
  background-color: white;
  color: $dark-blue;
}

.page-title {
  color: $dark-blue;
  font-weight: bold;
}
.no-map-container {
  background-color: #F4F4F4;
  width: 90%;
  min-height: 100%;
  border-radius: 3px;
  padding: 20px;
}
.no-map-card {
  height: 15vh;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  padding: 15px;
  position: relative;
  min-width: 210px;
  min-height: 100px;
  margin-top: 20px;
}

.title {
  text-align: center;
}
