.profile-container {
  background-color: blue;
  width: 50%;
  margin-top: 10vh;
  background-color: #F4F4F4;
  margin-bottom: 10vh;
  min-width: 400px;

}

.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  margin: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  radius: 8px;
  padding: 20px;
  padding-top: 30px;
  border-radius: 5px;
}

// #F4F4F4
