.container.form-container {
  background-color: white;
  width: 50%;
  margin-top: 40px;
  border-radius: 5px;
  min-width: 300px;
  padding-top: none;
  padding: 20px;
  position: relative;

}

.profile-back {
  position: absolute;
  top: 20px;
  opacity: .2;
  &:hover {
    opacity: 1;
  }
}

.btn-submit {
  border-radius: 5px;
  background-color: transparent;
  color: #000033;
  &:hover {
    opacity: 0.6;
  }
}
